<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Data</title>
    <!-- <link rel="stylesheet" href="/public/style.css" /> -->
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h2>Data Page</h2>

    <% for (post of posts) { %>
    <div class="posts">
      <h2 class="student_name">The name of student is : <%= post.name %></h2>
      <h3>
        The Field of student is : <span class="field"> <%= post.Field %> </span>
      </h3>

      <h4>The id of student is : <%= post.id %></h4>

      <a href="http://localhost:3000/posts/<%= post.id %>">See In Detail : </a>
      <a href="http://localhost:3000/posts/<%= post.id %>/edit">Edit Post : </a>
    </div>

    <% } %>

    <!-- To Create a new post click here -->

    <a href="http://localhost:3000/posts/new"> Click to add Post </a>
  </body>
</html>
